<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/rice.svg" | prepend: site.baseurl | replace: '//', '/' }}" alt="Emerald Logo">
	  <h2>Coding with Chopsticks</h2>
	</a>
	<nav>
		<small>
			<span><a class="social-links" target="_blank"href="mailto:{{ site.author.email }}">Email</a> | </span>
			<span><a class="social-links" target="_blank"href="{{ site.author.github }}">Github</a> | </span>
			<span><a class="social-links" target="_blank"href="{{ site.author.telegram }}">Telegram</a> | </span>
			<span><a class="social-links" target="_blank"href="{{ site.author.linkedin }}">LinkedIn</a></span>
		</small>
	</nav>
</header>
