/*- Custom style -*/

// -- Put custom style under this point -- //

.highlighter-rouge {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

code {
  background-color: #f5f5f5;
}
